.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    border: solid rebeccapurple;
}

section h1 {
    text-align: center;
    position: absolute;
    transform: translate(-50%);
    top: 50px;
    left: 50%;
    font-size: 4em;
}

.container {
    height: 600px;
    width: 600px;
    display: grid;
    z-index: 100;
}